<div>
    <h1>with-image</h1>
    <p>
        <a href="/without-image" data-pjax>Goto without-image</a>
    </p>
    <p>
        <a href="/" data-pjax>Back to index</a>
    </p>

    <img src="/images/image.png"/>
</div>
